
* {
    background-color: #000023;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.me{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding-left: 30px;
}

header p{
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    margin-top: 25px;
    margin-bottom: 30px;
    color: #9f9fc0;
    margin-left: 4px;
    /* background-color: antiquewhite; */
}

header img{
    height: 70px;
    width: 70px;
    border: #64a764 solid 4px;
    border-radius: 50px;

} 

.first-bar{
    background-color: aqua;
    margin-left: 30px;
    margin-right: 470px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 8px;
    padding-bottom: 17px;
    font-size: 30px;
}

/* Row 1 */

.row-1{
    /* background-color: blue; */
    display: flex;
    margin-left: 0;
    /* padding: 0; */
}

.box{
    /* background-color: blanchedalmond; */
    /* margin: 0px; */
    margin-left: 30px;
    height: 100px;
    width: 100px;

}

.box-1{
    background-color: aquamarine;
    /* margin-right: 0; */
    color: blueviolet;
}

.xxxx{
    background-color: rgb(220, 1, 1);
    width: 56px;
    height: 50px;
    margin-top: 100px;
    color: azure;
    /* margin-right: -60px; */
    margin-left: 15px;
}

.box-2{
    /* background-color: rgb(255, 127, 127); */
    margin-left: 0;
    color: blueviolet;
}

.l{
    background-color: #000023;
    width: 100px;
    height: 50px;
    color: aliceblue;
}

.m{
    background-color: rgb(43, 226, 55);
    width: 100px;
    height: 100px;
    /* margin-left: 10; */

}

.box-3{
    background-color: rgb(255, 127, 127);
    margin-left: 0;
    color: blueviolet;
}

.b3{
    background-color: rgb(220, 1, 1);
    width: 50px;
    height: 50px;
    margin-top: 100px;
    color: azure;
    /* margin-right: -60px; */
    margin-left: -39px;
}

.box-4{
    background-color: rgb(242, 255, 127);
    margin-left: 0;
    color: blueviolet;
}

.box-5{
    background-color: rgb(159, 127, 255);
    margin-left: 0;
    color: rgb(220, 215, 225);
    margin-top: 100px;
    margin-left: -150px;
}

.box-6{
    background-color: rgb(127, 172, 255);
    margin-left: 0;
    color: rgb(220, 215, 225);
    margin-top: 100px;
    margin-left: -5px;
    
}

.box-7{
    background-color: rgb(12, 240, 168);
    margin-left: 0;
    color: rgb(220, 215, 225);
    margin-top: 100px;
    margin-left: -5px;
    
}

/* Row 2 */
.row-2{
    /* background-color: blue; */
    display: flex;
    margin-top: -50px;
}

.box1-row2{
    height: 100px;
    width: 100px;
    background-color: rgb(220, 45, 150);
    margin-left: 0;
    color: rgb(220, 215, 225);
    /* margin-top: 100px; */
    margin-left: 80px;
    /* margin-right: -70px; */
}

.box2-row2{
    background-color: rgb(159, 159, 159);
    margin-left: 0;
    color: rgb(220, 215, 225);
    /* margin-top: 100px; */
    /* margin-left: -5px; */
}

/* Row 3 */
.row-3{
    /* background-color: blue; */
    display: flex;
    margin-left: 200px;
    /* margin-top: -50px; */
}

.row-3 .box1-row3{
    background-color: rgb(133, 213, 178);
    height: 50px;
    width: 50px;
}

.boxrow3{
    /* background-color: rgb(244, 248, 7); */
    margin-top: -50px;
    margin-left: 0;

}

.box2-row3{
    background-color: rgb(159, 159, 159);
    background-color: #9f9fc0;
    /* margin-left: 0; */
}

.box3-row3{
    background-color: rgb(238, 11, 170);
    margin-left: 0;
}

.box4-row3{
    background-color: rgb(60, 37, 55);
    /* margin-left: 0; */
}

.box5-row3{
    background-color: rgb(28, 92, 1);
    /* margin-left: 0; */
}

.box6-row3{
    background-color: rgb(159, 159, 159);
    /* margin-left: 0; */
}

.box7-row3{
    background-color: rgb(133, 213, 178);
    height: 50px;
    width: 50px;
    margin-left: 0;
    margin-top: -100px;
}

/* Row 4 */
.row-4{
    /* background-color: blue; */
    display: flex;
    margin-left: 250px;
    /* margin-bottom: 50px; */
}

.boxrow4{
    margin-left: 0;
}

.box1-row4{
    background-color: #64a764;
}

.box2-row4{
    background-color: bisque;
}

.box3-row4{
    background-color: rgb(239, 17, 106);
}


.bx1{
    background-color: #000023;
    width: 50px;
    height: 50px;
    color: aliceblue;
}

.bx2{
    background-color: rgb(43, 226, 55);
    width: 50x;
    height: 50px;
    /* margin-left: 10; */
}

.bx3{
    background-color: rgb(43, 226, 55);
    width: 50px;
    height: 50px;
    margin-left: 0;
    /* margin-top: -50px; */
}



.social-network-icon{
    /* height: 50px;
    background-color: blanchedalmond; */
    text-align: end;
    margin-top: -30px;
    margin-right: 30px;
}

img.icon{
    height: 30px;
    width: 30px;
}

